<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuge.ing.business.server.mapper.OrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuge.ing.business.server.po.OrderItemEntity">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="commodity_no" property="commodityNo" />
        <result column="commodity_name" property="commodityName" />
        <result column="unit_price" property="unitPrice" />
        <result column="quantity" property="quantity" />
        <result column="total_price" property="totalPrice" />
        <result column="tenant_id" property="tenantId" />
        <result column="crt_time" property="crtTime" />
        <result column="crt_user_id" property="crtUserId" />
        <result column="crt_user_name" property="crtUserName" />
        <result column="upd_time" property="updTime" />
        <result column="upd_user_id" property="updUserId" />
        <result column="upd_user_name" property="updUserName" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
